.about {
  background-color: transparent;
  font-size: 1.1em;
}

.profile {
  max-width: 90%;
  padding: 10px;
}


@media (max-width: 600px) {
  .profile {
    max-width: 100%;
    height: 27em;
    margin-left: 2rem;
  }
  }

.my-details {
  background-color: rgba(255, 255, 255, 0.747);
}


.font-details {
  font-size: 3em;
  font-weight: 500;
  color: #231d5af8;
}

