.footer-style {
  background-color: #101018f8;
  color: #fff;
  font-size: 1.5em;
  border: 2px solid #101018f8;
  border-top-left-radius: 3px;
}


.scrollToTopBtn {
  /* same general styles as before */
  
  /* place it at the bottom-right corner */
  position: fixed;
  bottom: 30px;
  right: 30px;

  /* keep it at the top of everything else */
  z-index: 100;

  /* hide with opacity */
  opacity: 0;

  /* also add a translate effect */
  transform: translateY(100px);

  /* and a transition */
  transition: all .5s ease
}
.showBtn {
  opacity: 1;
  transform: translateY(0)
}